# Ignore everything by default
*

# Don't ignore .gitignore file itself
!.gitignore

# Don't ignore folders
!*/

# Include Java files
!*.java

# Include PDF files
!*.pdf

# Include Markdown files
!*.md
!README*

# Include Python files
!*.py